#header {
  position: relative;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 120px;
  height: 400px;
  width:100%;
  background-color: rgb(167, 174, 26);
  background-image: url('/images/kiwi.png'),url("https://www.transparenttextures.com/patterns/tree-bark.png");
  background-size: 380px;
  background-repeat: no-repeat, repeat;
  z-index: 0;
}

.avatar {
  display:flex;
  width: auto;
  opacity: .83;
}

#header .name {
  display: flex;
  color: white; 
  margin-top: 0;
  opacity: .82;
}

#header .name h2 {
  text-shadow: 2px 2px rgb(7, 62, 52);
  margin: 0;
}

/*
 * Desktop responsive design
 */


@media only screen and (min-width: 1024px) {
  #header {
    width: 24rem;
    height: 24rem;
    margin-top: 240px;
    padding: 0;
    background-position: top 5% left 2%;
    background-size: 10rem, 380px;
    background-image: url("https://www.transparenttextures.com/patterns/tree-bark.png");
    background-size: 380px;
    border-radius: 10px;
  }

  #header img {
    width: 250px;
    height: auto;
  }
}
