nav {
  position:fixed;
  z-index:1;
  top: 0;
  height: 120px; 
  width: 100%;
  background-color: rgb(20, 145, 122);
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  color: rgb(7, 62, 52);
}

nav span{
  display: flex;
  font-family: 'Bungee', cursive;
  justify-content: flex-start;
  align-items: center;
}

nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
nav i {
  color:rgb(28, 210, 176);
}
